---
layout: default
title: Maitri's Art Gallery
---
 {% include navigation_index.html %}
<!-- HERO -->
        <div class="hero">
            <!-- FRONT CONTENT -->
            <div class="front-content">
                <img src="{{site.logo}}" class="img-responsive logo" alt="logo">
                <h1>{{site.greeting}} I’m <span>{{site.author}}</span>.<br>{{site.heading}}</h1>
            </div>
            <!-- /FRONT CONTENT -->
       </div>
        <!-- /HERO -->
        
        <!-- PORTFOLIO -->
        <div class="portfolio">    
        {% for art in site.arts %}
            <section class="cd-section">
                <a alt="{{art[1].title}}" class="item" href="{{art[1].image}}">
                    <div alt="{{art[1].title}}" class="item-cover" style="background-image: url({{art[1].image}})"></div>   
  
                 		<div class="cd-modal-action">
                         <i class="fa fa-quote-left btn" data-type="modal-trigger" aria-hidden="true" onclick="return false;">Fire</i>
                      			<span class="cd-modal-bg"></span>
                   </div>
                   <div class="cd-modal">
                     			<div class="cd-modal-content">
                        </div>
                   </div>
                </a>
             		<a href="#0" class="cd-modal-close">Close</a>
        {% endfor %}
            </section>    
        </div>
        <!-- /PORTFOLIO -->
